<!DOCTYPE html>
<html lang="en" dir="ltr">

  <!--Head section-->
  <head>
    <link rel="stylesheet" href='/static/css/main.css' />
    <title>Navigation bar</title>
    <meta charset="utf-8">
	<meta name="author" content="anonymous">
	<meta name="generator" content="Sublime text3">
	<meta name="robot" content="index, follow">
	<meta http-equiv="refresh" content="">
	<meta name="description" content="This is navigation bar on html page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keyowrds" content="html, navigation bar, navigation, bar, javascript, content">
  </head>

  <!--Write in body section the codes-->
  <!--Body section-->
  <body>
    <!--
       //code here...
     -->
    <div class="html-container">
      <div class="html-section">
        <div class="html-project">
          <div class="navigation">
            <nav>
              <ul class="nav-type">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/cur_we" class="active1">Current Weather</a></li>
                <li><a href="/five_we" class="active2">5 Days Weather</a></li>
                <li><a href="https://w3schools.com/" class="active3">Support</a></li>
                <div class="line"></div>
                <li><a><i class="fa fa-search" onclick="show()">
                  </i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <noscript>
      <div class="first-line">
        <div class="linear">
          <div class="line-w5">

          </div>
        </div>
      </div>
      </noscript>
<template>
      <div class="flash-fluid">
        <div class="flash-time">
          <div class="flash-GIF">

          </div>
        </div>
       </div>
</template>
<noscript>
      <div class="cyrcle-center">
        <div class="radial-cyrcle">

        </div>
      </div>
</noscript>
    </div>


  {% block content %} {% endblock %}

  </body>

<!--Html pade and program codes the end...-->
</html>