{% extends "base.html" %}
{% block content %}

<form action="/cur_we" method="POST">
    <p>
      <label for="city">City:</label>
      <input type="text" name="city"/>
    </p>
    <p>
      <label for="country">Country:</label>
      <input type="text" name="country"/>
    </p>
    <p><input type="submit" name="submit_recipe"/></p>
  </form>

{% if template_icon %}
<div class="div-1">
    <img src={{template_pic}} alt={{template_pic}}>
    <p>
       Temperature {{ template_temp }}
    </p>
    <p>
       Humidity {{ template_humidity }}
    </p>
</div>
{% endif %}

<div class="div-2">
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}
</div>
{% endblock %}