{% extends "base.html" %}
{% block content %}

<form action="/five_we" method="POST">
    <p>
      <label for="city">City:</label>
      <input type="text" name="city"/>
    </p>
    <p>
      <label for="country">Country:</label>
      <input type="text" name="country"/>
    </p>
    <p><input type="submit" name="submit_recipe"/></p>
  </form>





{% if template_icon %}
<div class="div-1">
    <p>
       Day
    </p>
    <p>
       {{ tmp_info[0]["day_date"] }}
    </p>
    <img src={{tmp_info[0]["d_pic"]}} alt={{tmp_info[0]["d_pic"]}}>
    <p>
       Temperature: {{ tmp_info[0]["d_temperature"] }}
    </p>
    <p></p>
    <p>
       Night
    </p>
    <img src={{tmp_info[0]["n_pic"]}} alt={{tmp_info[0]["n_pic"]}}>
    <p>
       Temperature: {{ tmp_info[0]["n_temperature"] }}
    </p>

</div>

<div class="div-3">
    <p>
       Day
    </p>
    <p>
       {{ tmp_info[1]["day_date"] }}
    </p>
    <img src={{tmp_info[1]["d_pic"]}} alt={{tmp_info[1]["d_pic"]}}>
    <p>
       Temperature: {{ tmp_info[1]["d_temperature"] }}
    </p>
    <p></p>
    <p>
       Night
    </p>
    <img src={{tmp_info[1]["n_pic"]}} alt={{tmp_info[1]["n_pic"]}}>
    <p>
       Temperature: {{ tmp_info[1]["n_temperature"] }}
    </p>
</div>


<div class="div-4">
    <a href="#hashLink">Show more</a>
</div>

<div id="hashLink">

<div class="div-5">
    <p>
       Day
    </p>
    <p>
       {{ tmp_info[2]["day_date"] }}
    </p>
    <img src={{tmp_info[2]["d_pic"]}} alt={{tmp_info[2]["d_pic"]}}>
    <p>
       Temperature: {{ tmp_info[2]["d_temperature"] }}
    </p>
    <p></p>
    <p>
       Night
    </p>
    <img src={{tmp_info[2]["n_pic"]}} alt={{tmp_info[2]["n_pic"]}}>
    <p>
       Temperature: {{ tmp_info[2]["n_temperature"] }}
    </p>

</div>



<div class="div-6">
    <p>
       Day
    </p>
    <p>
       {{ tmp_info[3]["day_date"] }}
    </p>
    <img src={{tmp_info[3]["d_pic"]}} alt={{tmp_info[3]["d_pic"]}}>
    <p>
       Temperature: {{ tmp_info[2]["d_temperature"] }}
    </p>
    <p></p>
    <p>
       Night
    </p>
    <img src={{tmp_info[3]["n_pic"]}} alt={{tmp_info[3]["n_pic"]}}>
    <p>
       Temperature: {{ tmp_info[3]["n_temperature"] }}
    </p>
</div>


<div class="div-7">
    <p>
       Day
    </p>
    <p>
       {{ tmp_info[4]["day_date"] }}
    </p>
    <img src={{tmp_info[4]["d_pic"]}} alt={{tmp_info[4]["d_pic"]}}>
    <p>
       Temperature: {{ tmp_info[4]["d_temperature"] }}
    </p>
    <p></p>
    <p>
       Night
    </p>
    <img src={{tmp_info[4]["n_pic"]}} alt={{tmp_info[4]["n_pic"]}}>
    <p>
       Temperature: {{ tmp_info[4]["n_temperature"] }}
    </p>
</div>


<div class="div-8">
    <p >
        <a href="#">Hide</a>
    </p>
</div>

</div>>
{% endif %}

<div class="div-2">
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}
</div>
{% endblock %}